* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar a {
  width: 10rem;
  height: 4rem;
  font-size: x-large;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  color: black;
  border-radius: 20px;
  margin-top: 1rem;
}

.main {
  height: calc(100vh - 5rem);
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgrey;
}
